<h1>Book</h1>

<div class="container">
    <form (ngSubmit)="!bookForm.invalid && saveBook()" #bookForm="ngForm">
        <fieldset class="form-group my-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" id="title" name="title" [(ngModel)]="book.title" class="form-control"
                   required>
        </fieldset>

        <fieldset class="form-group my-3">
            <label for="author" class="form-label">Author</label>
            <input type="text" id="author" name="author" [(ngModel)]="book.author" class="form-control"
                   required>
        </fieldset>

        <fieldset class="form-check my-3">
            <input type="checkbox" id="available" name="available" [(ngModel)]="book.available"
                   class="form-check-input">
            <label for="available" class="form-check-label">Is Available?</label>
        </fieldset>

        <button type="submit" class="btn btn-success" id="saveBook">Save</button>
    </form>
</div>
